@model POEItemFilter.ViewModels.ItemUserViewModel

@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ if (Model.ItemId == null)
    {
        <h2>Add new item</h2>
    }
    else
    {
        <h2>Edit item</h2>
    }}
@Html.Partial("_GeneralInfoPartial")
<hr />

@using (Html.BeginForm("SaveItemDb", "UsersItems", FormMethod.Post))
{
    <button id="basicToggle" type="button" class="btn btn-primary btn-sm container" aria-label="Left Align">
        Basic information
        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
    </button>
    <p id="basicBreak" />

    <div id="databaseItems" class="container body-content">
        @{Html.RenderAction("Refresh", "UsersItems", new { baseType = Model.BaseTypes, type = Model.Types });}
    </div>

    <div id="noDb">
        <p id="itemNotInDbCB">
            @Html.Label("Item is not in database?")
            @Html.CheckBox("itemNotInDb", false)
        </p>
        <p id="userItemTB">
            @Html.Label("Item name: ")
            @Html.TextBox("UserItem", "", new { @class = "my-textarea" })
            <span class="text-justify text-info"><span class="glyphicon glyphicon-info-sign btn-lg" aria-hidden="true"></span>Please make sure you're entering valid data.</span>
        </p>
    </div>
    <hr />

    <div id="itemInfo" class="container body-content">
        @Html.Partial("_ItemInfoPartial")
    </div>

    @Html.Hidden("ItemId")
    @Html.Hidden("FilterId")
 }

@section scripts
{
    @*This script applies behaviour of the elements.*@
    <script src="~/Scripts/Views/ItemViewsBehaviour.js"></script>

    @*This script applies to #databaseItems div element.*@
    <script src="~/Scripts/Views/RefreshDbItems.js"></script>
}
