@model POEItemFilter.Models.ItemUser

@{
    ViewBag.Title = "Add new item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><b>Add new item</b></h2>
<hr />

@using (Html.BeginForm("AddItemSession", "UsersItems", FormMethod.Post))
{
    <button id="basicToggle" type="button" class="btn btn-primary btn-sm" aria-label="Left Align">
        Basic information
        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
    </button>
    <p id="basicBreak" />

    <div id="databaseItems" class="container body-content">
        @{Html.RenderAction("Refresh", "UsersItems");}
    </div>

    <div id="noDb">
        <p id="itemNotInDbCB">
            @Html.Label("Item is not in database?")
            @Html.CheckBox("itemNotInDb", false)
        </p>
        <p id="userItemTB">
            @Html.Label("Item name: ")
            @Html.TextBox("UserItem", "", new { @class = "my-textarea" })
        </p>
    </div>
    <hr />

    <div id="itemInfo" class="container body-content">
        @Html.Partial("_ItemInfoPartial")
    </div>

    @Html.Hidden("ItemId")
    @Html.Hidden("FilterId")
 }

@section scripts
{
    @*This script applies behaviour of the elements.*@
    <script src="~/Scripts/Views/ItemViewsBehaviour.js"></script>

    @*This script applies to #databaseItems div element.*@
    <script src="~/Scripts/Views/RefreshDbItems.js"></script>
        }
