@model POEItemFilter.ViewModels.ContactViewModel

@{
    ViewBag.Title = "Contact";
}

<h2>Contact me</h2>

<div>
    <div class="col-md-6">
        @using (Html.BeginForm("Contact", "Home"))
        {
            @Html.LabelFor(c => c.Name);
            @Html.TextBoxFor(c => c.Name);

            @Html.LabelFor(c => c.Email);
            @Html.TextBoxFor(c => c.Email);

            @Html.LabelFor(c => c.Subject);
            @Html.TextBoxFor(c => c.Subject);

            @Html.LabelFor(c => c.Message);
            @Html.TextBoxFor(c => c.Message);

            <button type="submit" class="btn btn-primary">Send</button>
        }

        <div>
            <div>
                @if (ViewBag.Message != null)
                {
                    <div>@ViewBag.Message</div>


                    }
            </div>
        </div>
    </div>

</div>